{% extends 'base.html' %}

{% block content %}

                    <div class="row-fluid">
                        <div class="span4 username-container" align="right">
                        </div><!--/span-->
                        <div class="span8 gif-container">
                            <p>
                                This is a Djanog app that collects feeds of GIFs. In the future it will allow to repost images and hashtag them.
                            </p>
                            <p>
                                Celery process to check feeds regularly is implemented but not turned on in Heroku app yet.
                            </p>
                        </div><!--/span-->
                    </div><!--/row-->

{% endblock %}
