{% extends 'base.html' %}

{% block content %}

                    {% for p in latest_posts %}
                    <div class="row-fluid">
                        <div class="span4 username-container" align="right">
                            <a href="/{{p.user.username}}"><h2>{{p.user.username}}</h2></a>
                        </div><!--/span-->
                        <div class="span8 gif-container {% if not forloop.last %}bottom{% endif %}" align="center">
                            <a href="{{p.gif_url}}"><img src="{{p.gif_url}}"></a>
                        </div><!--/span-->
                    </div><!--/row-->
                    {% endfor %}

{% endblock %}
