{% extends 'base.html' %}

{% block content %}

                    {% if error_message %}

                    <div class="row-fluid">
                        <div class="span4 username-container" align="right">
                        </div><!--/span-->
                        <div class="span8 gif-container">
                            {{username}}: {{error_message}}
                        </div><!--/span-->
                    </div><!--/row-->
                        

                    {% else %}

                    {% for p in latest_posts %}
                    <div class="row-fluid">
                        <div class="span4 username-container" align="right">
                            <h2>{{username}}</h2>
                        </div><!--/span-->
                        <div class="span8 gif-container {% if not forloop.last %}bottom{% endif %}" align="center">
                            <a href="{{p.gif_url}}"><img src="{{p.gif_url}}"></a>
                        </div><!--/span-->
                    </div><!--/row-->
                    {% endfor %}

                    {% endif %}

{% endblock %}
