{% extends 'base.html' %}

{% block content %}

                    {% if error_message %}

                    <div class="row-fluid">
                        <div class="span4 username-container" align="right">
                        </div><!--/span-->
                        <div class="span8 gif-container">
                            {{username}}: {{error_message}}
                        </div><!--/span-->
                    </div><!--/row-->
                        

                    {% else %}

                    {% for p in latest_posts %}
                    <div class="row-fluid">
                        <div class="span4 username-container" align="right">
                            <h2>{{username}}</h2>
                        </div><!--/span-->
                        <div class="span8 gif-container {% if not forloop.last %}bottom{% endif %}" align="center">
                            <a href="{{p.gif_url}}"><img src="{{p.gif_url}}"></a>
                        </div><!--/span-->
                    </div><!--/row-->
                    {% endfor %}

                    <div class="row-fluid">
                        <div class="offset4 span8 pagination" align="center">
                            <span class="step-links">
                                {% if latest_posts.has_previous %}
                                    <a href="?page={{ latest_posts.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    page {{ latest_posts.number }} of {{ latest_posts.paginator.num_pages }}
                                </span>

                                {% if latest_posts.has_next %}
                                    <a href="?page={{ latest_posts.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    {% endif %}

{% endblock %}
